@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@300;400&display=swap');

.clientsexperience {
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    margin-left: 10px;
}

.clients {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.first {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    color: rgb(0, 44, 83);
    margin-top: 40px;
}