@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@300;400&display=swap');

.clientsexperience {
  display: flex;
  flex-direction: column;
  width: 90vw;
  /* margin-top: 40px; */
  margin-bottom: 40px;
  padding-bottom: 40px;
  margin-left: 10px;
}

.clients {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 1000px) {
  .clients {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}
@media (max-width: 400px) {
  .second {
    font-size: 1.1em;
    line-height: 1.1em;
  }
}

.first {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  color: rgb(0, 44, 83);
  margin-top: 40px;
}
@media (max-width: 1000px) {
  .first {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}
@media (max-width: 500px) {
  .first {
    margin-top: 30px;
  }
.clientsexperience {
padding-bottom: 0px;
margin-bottom: 0px;
}
}